body,
html {
  width: 100%;
}

table {
  background-color: transparent;
  border: none;
}

thead {
  background-color: #d2d2c6;
}

th,
td {
  white-space: nowrap;
  padding: 10px;
  text-align: center !important;
  color: black !important;
}

.table > :not(caption) > * > * {
  background-color: transparent;
  border: none;
}

h1,
p {
  margin-top: 64px;
  margin-bottom: 16px;
}

.scrollable-table {
  max-height: 350px; /* Adjust this value as needed */
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100%;
}
